.DS_Store

upload-*
named-*

/node_modules/

/.idea

multilingual-support/locales/*
!multilingual-support/locales/.gitkeep
multilingual-support/templates/*
!multilingual-support/templates/.gitkeep
multilingual-support/output/*
!multilingual-support/output/.gitkeep
