language: node_js
node_js:
  - 11

branches:
  only:
  - master

jobs:
  include:
    - stage: Test
      script: npm run lint
    - stage: Deploy
      if: branch = master
      script: npm run nuke-and-replace-db
